---
import AudioPlayer from '../components/AudioPlayer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/faviconw.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Nuestro Aniversario</title>
	</head>
	<body>
		<slot />
		<AudioPlayer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
